{% extends 'layout.html' %}

{% block head %}
<title>Change pass</title>
<link rel="stylesheet" href="/static/mini-form.css">
{% endblock %}

{% block body %}
<form action="/change-pass" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="pw" placeholder="New pass" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="conf-pw" placeholder="Confirm new pass" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}