{% extends 'layout.html' %}

{% block head %}
<title>User Settings</title> 
<style>
    .items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    
    .items a, .items a:hover {
        text-decoration: none;
        color: white;
        width: 100% !important;
        height: 100% !important;
        display: block;
        font-size: clamp(1rem, 2vw, 2rem);
    }
    
    .items li {padding: 1rem 1.5rem};
    
</style>
{% endblock %}

{% block body %} 

  <ul class="items">
      <li><a href="/change-pass">Change pass</a></li>
      <hr>
      <li><a href="/logout"><i class='fas fa-sign-out-alt'></i></a></li>
      <hr>
  </ul>

{% endblock %}